@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  /* background-color: #334055; */
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  @apply text-white;
  @apply bg-primary;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b0b0b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #838181;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b0b0b;
}
